# total number of nodes 
-tg:total_num_node	16

# intruction cache access latency
-tg:cache_il1_lat	1

# L1 data cache access latency
-tg:cache_dl1_lat	2

# L2 cache access latency
-tg:cache_dl2_lat	15

# memory access latency
-tg:mem_lat		200

# size of L1 mshr
-tg:mshr_size 		32

# total cycles for simulation
#-tg:total_cycles	57103070
-tg:total_cycles	57103

# probability of generating a read miss request
-tg:miss_read_request	0.1151

# probability of generating a write miss request
-tg:miss_write_request	0.0073

# probability of generating a read exclusive request to get the permission of writing the cache line
-tg:write_upgrade	0.0019

# probability of directly reply from home node to requestor (for read miss)
-tg:read_direct_reply	0.9507

# probability of the case that remote node has the modified cache state
-tg:modified_downgrade	0.7525

# probability of directly reply from home node to requestor (for write miss)
-tg:write_direct_reply	0.1965

# probability of the case that invalidation only involves one remote node 
-tg:invalidation_one	0.4034

# probability of the case that invalidation involves two remote node 
-tg:invalidation_two	0.1947

# probability of the case that invalidation involves three remote node 
-tg:invalidation_three	0.1234

# probability of the case that invalidation involves four remote node 
-tg:invalidation_four	0.0853

# probability of the case that invalidation involves five remote node 
-tg:invalidation_five	0.0571

# probability of the case that invalidation involves six remote node 
-tg:invalidation_six	0.0395

# probability of the case that invalidation involves seven remote node 
-tg:invalidation_seven	0.0278

# probability of the case that invalidation involves eight remote node 
-tg:invalidation_eight	0.0205

# probability of the case that invalidation involves nine remote node 
-tg:invalidation_nine	0.0143

# probability of the case that invalidation involves ten remote node 
-tg:invalidation_ten	0.0104

# probability of the case that invalidation involves eleven remote node 
-tg:invalidation_eleven	0.0073

# probability of the case that invalidation involves twelve remote node 
-tg:invalidation_twelve	0.0064

# probability of the case that invalidation involves thirteen remote node 
-tg:invalidation_thirteen	0.0043

# probability of the case that invalidation involves fourteen remote node 
-tg:invalidation_fourteen	0.0031

# probability of the case that invalidation involves fifteen remote node 
-tg:invalidation_fifteen	0.0026

# Data packet size
-network:data_packet_size		5

# meta packet size
-network:meta_packet_size		1
